body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: whitesmoke;
    color: #2f3e46;
}

header {
    background-color: #2f3e46;
    color: whitesmoke;
    text-align: center;
    padding: 25px;
}

main {
    padding: 25px;
}

h2 {
    text-align: center;
    margin-top: 5px;
}

img {
    max-width: 300px;
    height: auto;
    display: block;
    margin-bottom: 15px;
}

aside {
    background-color: bisque;
    padding: 20px;
    border-radius: 7px;
    margin-top: 15px;
}

footer {
    background-color: #2f3e46;
    color: whitesmoke;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
}


/*Restaurant Settings*/
.restaurant {
    background-color: #2f3e46;
    color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 24px;
}


/*Card Layout*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.card {
    background-color: whitesmoke;
    color: #2f3e46;
    width: 300px;
    text-align: center;
    padding: 17px;
    border-radius: 7px;
}